*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif
}

html,
body {
    height: 100%;
    overflow: hidden;
}

.stoplight {
    height: 100vh;
    width: 100vw;
    color: #fff;
    display: flex;
    align-content: center;
}
.stoplight__text {
    flex-grow: 1;
    text-align: center;
    text-transform: uppercase;
    font-size: 18rem;
    user-select: none;
    margin: auto;
    text-shadow: 3px 5px rgba(0,0,0,0.33);
}

.stoplight--free {
    background-color: #2ecc71;
}

.stoplight--waiting {
    background-color: #f1c40f;
}

.stoplight--busy {
    background-color: #c0392b;
}

.status-selections {
    padding: 0 24px;
}

.status-selections__button {
    border: 0;
    margin: 12px auto;
    padding: 4px 6px;
    color: #fff;
    text-align: center;
    display: block;
    border-radius: 3px;
    font-size: 1.75em;
    cursor: pointer;
    max-width: 400px;
    width: 100%;
    box-shadow: 0px 2px rgba(0,0,0,0.25);
}

.status-selections__button--free {
    background-color: #2ecc71;
}

.status-selections__button--waiting {
    background-color: #f1c40f;
}

.status-selections__button--busy {
    background-color: #c0392b;   
}
