*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif
}

html,
body {
    height: 100%;
    overflow: hidden;
    background-color: #ecf0f1;
}

a {
    color: #3498db;
}

.stoplight {
    height: 100vh;
    width: 100vw;
    color: #fff;
    display: flex;
    align-content: center;
}
.stoplight__text {
    flex-grow: 1;
    text-align: center;
    text-transform: uppercase;
    font-size: 18rem;
    user-select: none;
    margin: auto;
    text-shadow: 3px 5px rgba(0,0,0,0.33);
}

.stoplight__text::after {
    content: "Click to Change";
    color: rgba(0,0,0,0.50);
    font-size: 1.5rem;
    text-shadow: none;
    display: block;
}

.stoplight__text:hover .stoplight__text::after {
    display: block;
}

.stoplight--free {
    background-color: #2ecc71;
}

.stoplight--waiting {
    background-color: #f1c40f;
}

.stoplight--busy {
    background-color: #c0392b;
}

.popup {
    padding: 12px 24px;
    width: 275px;
}
.popup__footer {
    font-size: .82rem;
    text-align: center;
    color: rgba(0,0,0,0.66);
}

.status__header {
    color: rgba(0,0,0,0.66);
    font-size: 1rem;
}

.status__button {
    border: 0;
    margin: 12px auto;
    padding: 4px 6px;
    color: #fff;
    text-align: center;
    display: block;
    border-radius: 3px;
    font-size: 1.2rem;
    cursor: pointer;
    width: 100%;
}

.status__button--free {
    background-color: #2ecc71;
}

.status__button--waiting {
    background-color: #f1c40f;
}

.status__button--busy {
    background-color: #c0392b;   
}
